@import "~@harmony/core-styles/core.scss";

.wrapper {
    height: 100%;
    width: 100%;
    text-align: center;
}

.app-image {
    height: 100%;
    width: 100%;
    background: url('../assets/growth-and-harmony.jpg');
    background-repeat: no-repeat;
    background-position: center top;
}